// All critical styles (in the loading viewport)

@import 'scss/fonts';
@import 'scss/mixins';
@import 'scss/reset';
@import 'scss/variables';

.home {
  display: flex;
  position: relative;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: $transition-load;
  transition-delay: $transition-load-open-delay;
  background-image: $color-brand-end-radial;
  overflow: hidden;
  will-change: padding-top;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $transition-load;
    opacity: 1;
    z-index: 1;
    background-image: radial-gradient(farthest-corner at 15% 101%, $color-brand-start-radial, $color-brand-end-radial);
    content: ' ';
    will-change: opacity;
  }

  &__logo {
    display: flex;
    position: relative;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    transition: $transition-load;
    transition-delay: $transition-load-open-delay;
    z-index: 2;
    overflow: hidden;
    animation: fadein 5s;
    will-change: flex, background;

    .home--loaded & {
      flex: 0 0 50%;
      background: $white;

      @media (min-width: $sm), (orientation: landscape) {
        flex: 0 0 50%;
        background: transparent;
      }
    }

    &__svg {
      transition: $transition-load;
      transition-delay: $transition-load-open-delay;
      height: 150px;
      will-change: transform, fill;
      fill: $white;

      .home--loaded & {
        transform: rotate(360deg);
        fill: $color-brand-5;
      }

      @media (min-width: $sm), (orientation: landscape) {
        height: 100%;
      }
    }

    @media (min-width: $sm), (orientation: landscape) {
      order: 2;
      margin-top: 0;
      height: 200px;
    }
  }

  &__ribbon {
    display: flex;
    flex: 0 0 50%;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    transition: $transition-load;
    transition-delay: $transition-load-open-delay;
    opacity: 0;
    z-index: 2;
    background-image: radial-gradient(farthest-corner at 15% 101%, $color-brand-start-radial, $color-brand-end-radial);
    overflow: hidden;
    color: $white;
    will-change: opacity;

    .home--loaded & {
      opacity: 1;
    }

    &__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;

      &__title {
        overflow: hidden;
        text-align: center;
        font-size: 12vw;

        &__hover {
          font-weight: 700;
        }

        @media (min-width: $sm), (orientation: landscape) {
          font-size: 4vw;
        }

        @media (min-width: $lg) {
          font-size: 3.8vw;
        }

        @media (min-width: $xlg) {
          font-size: 3vw;
        }
      }

      &__subtitle {
        position: relative;
        flex: 0 0 auto;
        overflow: hidden;
        text-align: center;
        font-size: 7.3vw;

        @media (min-width: $sm), (orientation: landscape) {
          font-size: 2.45vw;
        }

        @media (min-width: $lg) {
          font-size: 2.3vw;
        }

        @media (min-width: $xlg) {
          font-size: 1.8vw;
        }
      }

      &__bottom {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        justify-self: flex-end;
        width: 100%;

        &__ctas {
          display: flex;
          flex: 0 0 50%;
          align-items: center;
          justify-content: space-around;
          padding: 10px 0;
          overflow: hidden;

          &__item {
            display: block;
            margin: 0 15px;

            &:hover,
            &:focus {
              outline: 0;
            }

            &__svg {
              display: block;
              transform: scale(0.95);
              transition: opacity $transition-duration ease-in-out, transform $transition-duration ease-in-out;
              opacity: 1;
              cursor: pointer;
              height: 40px;
              will-change: opacity, transform;
              fill: $white;

              .home__ribbon__content__bottom__ctas__item:hover &,
              .home__ribbon__content__bottom__ctas__item:focus & {
                transform: scale(1);
                opacity: 0.5;
              }
            }

            @media (min-width: $sm), (orientation: landscape) {
              margin: 0 15px 0;
            }
          }

          @media (min-height: 500px), (orientation: landscape) {
            padding: 20px 0;
          }
        }

        &__email {
          position: relative;
          flex: 0 1 50%;
          align-items: center;
          justify-content: flex-end;
          overflow: visible;
          text-align: center;

          &__copied {
            position: absolute;
            top: 6px;
            right: 0;
            left: 0;
            z-index: 1;
            overflow: hidden;
            font-size: 7.3vw;

            span {
              @include transition-children-delay(30, $transition-copied-delay, $transition-copied-step);

              display: inline-block;
              transform: translateY(-100%);
              transition-duration: 500ms;
              transition-property: transform, opacity;
              opacity: 0;
              will-change: transform, opacity;
            }

            @media (min-width: $sm), (orientation: landscape) {
              font-size: 2.35vw;
            }

            @media (min-width: $lg) {
              font-size: 2.25vw;
            }

            @media (min-width: $xlg) {
              font-size: 1.8vw;
            }
          }

          &__button {
            position: relative;
            z-index: 2;
            cursor: pointer;
            font-size: 9.2vw;

            &:before,
            &:after {
              position: absolute;
              right: 0;
              bottom: -5px;
              left: 0;
              transform: scale(1);
              transform-origin: center left;
              transition: transform 320ms ease-in-out;
              transition-delay: 900ms;
              opacity: 0.7;
              background: $white;
              height: 1px;
              content: ' ';
              will-change: transform;
            }

            &:before {
              bottom: -6px;
              transform: scale(0);
              transition-delay: 0ms;
              opacity: 1;
            }

            &:hover,
            &:focus {
              outline: 0;

              &:not(.active):before {
                transform: scale(1);
                height: 3px;

                // For touch screens
                @media (hover: none) {
                  transform: scale(0);
                  height: 1px;
                }
              }
            }

            span {
              @include transition-children-delay(17, $transition-copied-delay, $transition-copied-step);

              display: inline-block;
              transform: translateY(0);
              transition-duration: 500ms;
              transition-property: transform, opacity;
              will-change: transform, opacity;
            }

            &.active {
              &:before,
              &:after {
                transform: scale(0);
                transform-origin: center right;
                transition-delay: 0ms;
              }

              span {
                transform: translateY(100%);
                opacity: 0;
              }

              & + .home__ribbon__content__bottom__email__copied span {
                transform: translateY(0);
                opacity: 1;
              }
            }

            @media (min-width: $sm), (orientation: landscape) {
              font-size: 3.1vw;
            }

            @media (min-width: $lg) {
              font-size: 2.9vw;
            }

            @media (min-width: $xlg) {
              font-size: 2.3vw;
            }
          }
        }
      }
    }

    @media (min-width: $sm), (orientation: landscape) {
      flex: 0 0 50%;
      align-items: center;
      order: 1;
      height: 100%;
    }

    @media (min-width: $md) {
      flex: 0 0 45%;
    }
  }

  &--loaded {
    padding-top: 5%;

    &:before {
      opacity: 0;
    }

    @media (min-width: $sm), (orientation: landscape) {
      padding-top: 0;
    }
  }

  @media (min-width: $sm), (orientation: landscape) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: $white;
  }
}
