// All critical styles (in the loading viewport)

// Globals
@import 'scss/global/variables';
@import 'scss/global/fonts';
@import 'scss/global/animations';
@import 'scss/global/mixins';
@import 'scss/global/reset';

// Components
@import 'scss/component/cta';
@import 'scss/component/email';
@import 'scss/component/logo';
@import 'scss/component/resume';

.home {
  display: flex;
  position: relative;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: $transition-load;
  transition-delay: $transition-load-open-delay;
  background: $color-brand-end-radial;
  overflow: hidden;
  will-change: padding-top;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $transition-load;
    opacity: 1;
    z-index: 1;
    background-image: radial-gradient(farthest-corner at 15% 101%, $color-brand-start-radial, $color-brand-end-radial);
    content: ' ';
    will-change: opacity;
  }

  &__ribbon {
    display: flex;
    flex: 0 0 50%;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    transition: $transition-load;
    transition-delay: $transition-load-open-delay;
    opacity: 0;
    z-index: 2;
    background-image: radial-gradient(farthest-corner at 15% 101%, $color-brand-start-radial, $color-brand-end-radial);
    overflow: hidden;
    color: $white;
    will-change: opacity;

    .home--loaded & {
      opacity: 1;
    }

    @media (min-width: $sm), (orientation: landscape) {
      flex: 0 0 50%;
      align-items: center;
      order: 1;
      height: 100%;
    }

    @media (min-width: $md) {
      flex: 0 0 45%;
    }
  }

  &--loaded {
    padding-top: 5%;

    &:before {
      opacity: 0;
    }

    @media (min-width: $sm), (orientation: landscape) {
      padding-top: 0;
    }
  }

  @media (min-width: $sm), (orientation: landscape) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: $white;
  }
}
