@keyframes fadein {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes translate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
