@import "scss/variables";
@import "scss/animations";

html {
  height: 100%;
  overflow: hidden;
  font-family: $font-family-default;
  font-size: $font-size-default-min;

  @media (min-width: $sm) {
    font-size: $font-size-default;
  }
}

body {
  margin: 0;
  background: $white;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $white;
}
