// Global colors
$color-brand-1: #00c9a7;
$color-brand-2: #00afa6;
$color-brand-3: #00949c;
$color-brand-4: #017a8b;
$color-brand-5: #266074;
$color-brand-6: #2f4858;

$white: #fafafa;

// Global paddings
$padding-default: 30px;
$padding-min: 15px;

// Global Fonts
$font-size-title: 1.8rem;
$font-size-title-min: 1.4rem;
$font-size-default: 26px;
$font-size-default-min: 18px;
$font-family-default: Lato, Arial;

// Global Borders
$radius-default: 30px;

// Global Animations
$animation-duration: 1s;

// Global Breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg: 1900px;

// Component specific
$splash-top-height: 66%;
$splash-top-height-min: 75%;
$splash-footer-icon-height: 100px;
$splash-footer-icon-height-min: 60px;
$splash-footer-icon-padding: 10px;
