// Global colors
$color-brand-1: #00c9a7;
$color-brand-2: #00afa6;
$color-brand-3: #00949c;
$color-brand-4: #017a8b;
$color-brand-5: #266074;
$color-brand-6: #2f4858;

$color-brand-start-radial: $color-brand-4;
$color-brand-end-radial: #013d46;

$black: #000;
$white: #fff;

// Global paddings
$padding-default: 30px;
$padding-min: 15px;

// Global Fonts
$font-size-title: 1.8rem;
$font-size-title-min: 1.4rem;
$font-size-default: 26px;
$font-size-default-min: 18px;
$font-family-default: Lato, Arial;

// Global Borders
$radius-default: 0;

// Global Animations
$animation-duration: 1s;
$transition-duration: 120ms;
$transition-load: all 1000ms ease-in-out;
$transition-load-open-delay: 500ms;
$transition-copied-delay: 300ms;
$transition-copied-step: 30ms;

// Global Breakpoints
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg: 1900px;
